# <font color='blue'>Machine Learning em dados de estação meterológica local</font>

### Análise Exploratória de Dados 
-Engenharia de Atributos 
-Pré-Processamento de Dados
-Aplicação de Modelos de ML

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
%matplotlib inline

# Carregando o Dataset

O dataset abaixo contém dados sobre...

In [2]:
df = pd.read_csv('Mdados/dados.csv', sep=';')

C:\Users\roger\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (5,6,9,10,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.shape

(261056, 19)

In [4]:
# Atributo size (total de registros considerando cada coluna)
df.size

4960064

In [5]:
df.head(5)

,n,Time,Interval,Indoor Temperature(°C),Indoor Humidity(%),Outdoor Temperature(°C),Outdoor Humidity(%),Relative Pressure(mmHg),Absolute Pressure(mmHg),Wind Speed(km/h),Gust(km/h),Wind Direction,DewPoint(°C),WindChill(°C),Hour Rainfall(mm),24 Hour Rainfall(mm),Week Rainfall(mm),Month Rainfall(mm),Total Rainfall(mm)
0,1,15/02/2022 13:17:00,5,27.1,40,34.3,35,757.2,725.6,7.2,9.7,SSW,16.7,34.3,0.0,0.0,0.0,0.0,0.0
1,2,15/02/2022 13:22:00,5,27.2,40,34.1,33,757.1,725.5,3.6,7.2,NNW,15.6,34.1,0.0,0.0,0.0,0.0,0.0
2,3,15/02/2022 13:27:00,5,27.2,40,34.1,33,757.1,725.5,5.0,7.2,SSE,15.6,34.1,0.0,0.0,0.0,0.0,0.0
3,4,15/02/2022 13:32:00,5,27.2,40,34.2,35,757.1,725.4,8.6,13.3,W,16.6,34.2,0.0,0.0,0.0,0.0,0.0
4,5,15/02/2022 13:37:00,5,27.2,40,34.0,35,757.1,725.4,6.1,9.7,W,16.4,34.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.sample(5)

,n,Time,Interval,Indoor Temperature(°C),Indoor Humidity(%),Outdoor Temperature(°C),Outdoor Humidity(%),Relative Pressure(mmHg),Absolute Pressure(mmHg),Wind Speed(km/h),Gust(km/h),Wind Direction,DewPoint(°C),WindChill(°C),Hour Rainfall(mm),24 Hour Rainfall(mm),Week Rainfall(mm),Month Rainfall(mm),Total Rainfall(mm)
198478,198479,02/11/2022 08:21:18,5,20.1,42,60.0,1,768.8,737.1,6.1,18.4,WSW,-14.4,60.0,0.0,0.0,0.0,0.0,0.0
50069,50070,04/05/2022 20:02:01,5,21.9,72,16.8,98,759.8,728.2,3.6,6.1,WNW,16.5,16.8,0.0,0.0,0.0,0.0,0.0
147426,147427,30/08/2022 10:05:06,5,18.8,42,14.8,60,766.9,735.2,17.3,24.5,E,7.1,10.3,0.0,0.0,0.0,406.8,3264.9
242347,242348,23/12/2022 05:38:01,5,25.5,53,60.0,1,756.8,725.2,8.6,11.2,ESE,-14.4,60.0,0.0,0.0,122.4,162.0,5693.7
189126,189127,22/10/2022 11:47:01,5,22.8,68,60.0,1,759.3,727.7,5.0,7.2,NNE,-14.4,60.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df.tail(5)

,n,Time,Interval,Indoor Temperature(°C),Indoor Humidity(%),Outdoor Temperature(°C),Outdoor Humidity(%),Relative Pressure(mmHg),Absolute Pressure(mmHg),Wind Speed(km/h),Gust(km/h),Wind Direction,DewPoint(°C),WindChill(°C),Hour Rainfall(mm),24 Hour Rainfall(mm),Week Rainfall(mm),Month Rainfall(mm),Total Rainfall(mm)
261051,261052,23/01/2023 07:45:24,5,25.7,71,60.0,1,755.9,724.4,1.1,2.5,ENE,-14.4,60.0,0.0,0.0,3.0,371.1,6066.6
261052,261053,23/01/2023 07:50:24,5,25.8,71,60.0,1,755.8,724.2,1.1,2.5,ENE,-14.4,60.0,0.0,0.0,3.0,371.1,6066.6
261053,261054,23/01/2023 07:55:24,5,25.8,72,60.0,1,755.8,724.2,2.5,3.6,ENE,-14.4,60.0,0.0,0.0,3.0,371.1,6066.6
261054,261055,23/01/2023 08:00:24,5,25.8,72,60.0,1,756.0,724.4,1.1,3.6,ENE,-14.4,60.0,0.0,0.0,3.0,371.1,6066.6
261055,261056,23/01/2023 08:05:24,5,25.8,72,60.0,1,756.1,724.5,0.0,2.5,ENE,-14.4,60.0,0.0,0.0,3.0,371.1,6066.6

In [8]:
df.info

<bound method DataFrame.info of              n                  Time  Interval  Indoor Temperature(°C)  \
0            1   15/02/2022 13:17:00         5                    27.1
1            2   15/02/2022 13:22:00         5                    27.2
2            3   15/02/2022 13:27:00         5                    27.2
3            4   15/02/2022 13:32:00         5                    27.2
4            5   15/02/2022 13:37:00         5                    27.2
...        ...                   ...       ...                     ...
261051  261052   23/01/2023 07:45:24         5                    25.7
261052  261053   23/01/2023 07:50:24         5                    25.8
261053  261054   23/01/2023 07:55:24         5                    25.8
261054  261055   23/01/2023 08:00:24         5                    25.8
261055  261056   23/01/2023 08:05:24         5                    25.8

        Indoor Humidity(%) Outdoor Temperature(°C) Outdoor Humidity(%)  \
0                       40                    34.3                  35
1                       40                    34.1                  33
2                       40                    34.1                  33
3                       40                    34.2                  35
4                       40                    34.0                  35
...                    ...                     ...                 ...
261051                  71                    60.0                   1
261052                  71                    60.0                   1
261053                  72                    60.0                   1
261054                  72                    60.0                   1
261055                  72                    60.0                   1

        Relative Pressure(mmHg)  Absolute Pressure(mmHg) Wind Speed(km/h)  \
0                         757.2                    725.6              7.2
1                         757.1                    725.5              3.6
2                         757.1                    725.5              5.0
3                         757.1                    725.4              8.6
4                         757.1                    725.4              6.1
...                         ...                      ...              ...
261051                    755.9                    724.4              1.1
261052                    755.8                    724.2              1.1
261053                    755.8                    724.2              2.5
261054                    756.0                    724.4              1.1
261055                    756.1                    724.5              0.0

       Gust(km/h) Wind Direction DewPoint(°C) WindChill(°C)  \
0             9.7            SSW         16.7          34.3
1             7.2            NNW         15.6          34.1
2             7.2            SSE         15.6          34.1
3            13.3              W         16.6          34.2
4             9.7              W         16.4          34.0
...           ...            ...          ...           ...
261051        2.5            ENE        -14.4          60.0
261052        2.5            ENE        -14.4          60.0
261053        3.6            ENE        -14.4          60.0
261054        3.6            ENE        -14.4          60.0
261055        2.5            ENE        -14.4          60.0

        Hour Rainfall(mm)  24 Hour Rainfall(mm)  Week Rainfall(mm)  \
0                     0.0                   0.0                0.0
1                     0.0                   0.0                0.0
2                     0.0                   0.0                0.0
3                     0.0                   0.0                0.0
4                     0.0                   0.0                0.0
...                   ...                   ...                ...
261051                0.0                   0.0                3.0
261052                0.0                   0.0                3.0
261053                0.0                   0.0                3.0
261054                0.0                   0.0                3.0
261055                0.0                   0.0                3.0

        Month Rainfall(mm)  Total Rainfall(mm)
0                      0.0                 0.0
1                      0.0                 0.0
2                      0.0                 0.0
3                      0.0                 0.0
4                      0.0                 0.0
...                    ...                 ...
261051               371.1              6066.6
261052               371.1              6066.6
261053               371.1              6066.6
261054               371.1              6066.6
261055               371.1              6066.6

[261056 rows x 19 columns]>

In [9]:
# Criamos uma variável com a lista de nomes de colunas
temp_hum = ['Indoor Temperature(°C)', 'Indoor Humidity(%)', 'Outdoor Temperature(°C)', 'Outdoor Humidity(%)']

In [10]:
type(temp_hum)

list

In [11]:
df[temp_hum]

,Indoor Temperature(°C),Indoor Humidity(%),Outdoor Temperature(°C),Outdoor Humidity(%)
0,27.1,40,34.3,35
1,27.2,40,34.1,33
2,27.2,40,34.1,33
3,27.2,40,34.2,35
4,27.2,40,34.0,35
...,...,...,...,...
261051,25.7,71,60.0,1
261052,25.8,71,60.0,1
261053,25.8,72,60.0,1
261054,25.8,72,60.0,1
261055,25.8,72,60.0,1

# Separação das Variáveis Categóricas e Numéricas

In [12]:
df.columns

Index(['n', 'Time', 'Interval', 'Indoor Temperature(°C)', 'Indoor Humidity(%)',
       'Outdoor Temperature(°C)', 'Outdoor Humidity(%)',
       'Relative Pressure(mmHg)', 'Absolute Pressure(mmHg)',
       'Wind Speed(km/h)', 'Gust(km/h)', 'Wind Direction', 'DewPoint(°C)',
       'WindChill(°C)', 'Hour Rainfall(mm)', '24 Hour Rainfall(mm)',
       'Week Rainfall(mm)', 'Month Rainfall(mm)', 'Total Rainfall(mm)'],
      dtype='object')

In [13]:
df.dtypes

n                            int64
Time                        object
Interval                     int64
Indoor Temperature(°C)     float64
Indoor Humidity(%)           int64
Outdoor Temperature(°C)     object
Outdoor Humidity(%)         object
Relative Pressure(mmHg)    float64
Absolute Pressure(mmHg)    float64
Wind Speed(km/h)            object
Gust(km/h)                  object
Wind Direction              object
DewPoint(°C)                object
WindChill(°C)               object
Hour Rainfall(mm)          float64
24 Hour Rainfall(mm)       float64
Week Rainfall(mm)          float64
Month Rainfall(mm)         float64
Total Rainfall(mm)         float64
dtype: object

In [14]:
# Lista de colunas categóricas
cats = ['Time','Outdoor Temperature(°C)',
        'Outdoor Humidity(%)','Wind Speed(km/h)','Gust(km/h)',
        'Wind Direction','DewPoint(°C)','WindChill(°C)'
       ]

In [15]:
# Lista de colunas categóricas
nums = ['n','Interval',
        'Indoor Temperature(°C)',
        'Indoor Humidity(%)','Relative Pressure(mmHg)',
        'Absolute Pressure(mmHg)','Hour Rainfall(mm)',
        '24 Hour Rainfall(mm)',
        'Week Rainfall(mm)','Month Rainfall(mm)',
        'Total Rainfall(mm)'
       ]

In [16]:
# Resumo das variáveis categoricas
df[cats].describe()

,Time,Outdoor Temperature(°C),Outdoor Humidity(%),Wind Speed(km/h),Gust(km/h),Wind Direction,DewPoint(°C),WindChill(°C)
count,261056,261056,261056,261056,261056,261056,261056,261056
unique,261013,648,153,52,53,17,506,651
top,01/04/2022 01:59:50,60.0,1,2.5,3.6,ESE,-14.4,60.0
freq,2,73417,73417,27691,28385,54101,73417,73416

In [17]:
df[nums].describe()

,n,Interval,Indoor Temperature(°C),Indoor Humidity(%),Relative Pressure(mmHg),Absolute Pressure(mmHg),Hour Rainfall(mm),24 Hour Rainfall(mm),Week Rainfall(mm),Month Rainfall(mm),Total Rainfall(mm)
count,261056.000000,261056.000000,261056.000000,261056.000000,261056.000000,261056.000000,261056.000000,261056.000000,261056.000000,261056.000000,261056.000000
mean,130528.500000,5.005803,23.297426,59.296339,758.881744,727.243624,0.178793,4.670927,37.069002,170.952714,2094.270503
std,75360.520274,0.077060,4.549210,10.644032,3.426936,3.415192,1.721057,20.516216,89.319308,246.293466,2101.651377
min,1.000000,0.000000,-1846.700000,4.000000,748.700000,717.200000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,65264.750000,5.000000,21.400000,52.000000,756.500000,724.800000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,130528.500000,5.000000,23.400000,59.000000,758.900000,727.300000,0.000000,0.000000,0.000000,35.100000,1925.700000
75%,195792.250000,5.000000,25.400000,68.000000,761.200000,729.500000,0.000000,0.000000,28.200000,240.300000,3405.600000
max,261056.000000,6.000000,547.400000,82.000000,970.300000,938.600000,82.800000,302.400000,582.300000,1205.700000,6066.600000

### A função convert_comma é definida para converter pontos em vírgulas. Em seguida, o método applymap é usado para aplicar a função a todas células do DataFrame. Observe que o método applymap deve ser aplicado a cada célula individual, por isso o nome "map" (mapear).

In [18]:
def convert_comma(value):
    return str(value).replace(".", ",")

df = df.applymap(convert_comma)

In [19]:
df.head(5)

,n,Time,Interval,Indoor Temperature(°C),Indoor Humidity(%),Outdoor Temperature(°C),Outdoor Humidity(%),Relative Pressure(mmHg),Absolute Pressure(mmHg),Wind Speed(km/h),Gust(km/h),Wind Direction,DewPoint(°C),WindChill(°C),Hour Rainfall(mm),24 Hour Rainfall(mm),Week Rainfall(mm),Month Rainfall(mm),Total Rainfall(mm)
0,1,15/02/2022 13:17:00,5,"27,1",40,"34,3",35,"757,2","725,6","7,2","9,7",SSW,"16,7","34,3","0,0","0,0","0,0","0,0","0,0"
1,2,15/02/2022 13:22:00,5,"27,2",40,"34,1",33,"757,1","725,5","3,6","7,2",NNW,"15,6","34,1","0,0","0,0","0,0","0,0","0,0"
2,3,15/02/2022 13:27:00,5,"27,2",40,"34,1",33,"757,1","725,5","5,0","7,2",SSE,"15,6","34,1","0,0","0,0","0,0","0,0","0,0"
3,4,15/02/2022 13:32:00,5,"27,2",40,"34,2",35,"757,1","725,4","8,6","13,3",W,"16,6","34,2","0,0","0,0","0,0","0,0","0,0"
4,5,15/02/2022 13:37:00,5,"27,2",40,"34,0",35,"757,1","725,4","6,1","9,7",W,"16,4","34,0","0,0","0,0","0,0","0,0","0,0"

In [20]:
novos_nomes_variaveis = {
    "n" : "N",
    "Time": "Data",
    "Interval": "Intervalo",
    "Indoor Temperature(°C)": "Temp_int ",
    "Indoor Humidity(%)": "Humi_int ",
    "Outdoor Temperature(°C)": "Temp_ext",
    "Outdoor Humidity(%)": "Humi_ext",
    "Relative Pressure(mmHg)": "Pres_rel",
    "Absolute Pressure(mmHg)": "Pres_abs",
    "Wind Speed(km/h)": "Vel_vento",
    "Gust(km/h);": "Temporal",
    "Wind Direction": "Dir_vento ",
    "DewPoint(°C)": "Orvalho",
    "WindChill(°C)": "Sens_termica",
    "Hour Rainfall(mm)": "Hr_chuva",
    "24 Hour Rainfall(mm)": "Prec_24h",
    "Week Rainfall(mm)": " Prec_sema",
    "Month Rainfall(mm)": "Prec_mes",
    "Total Rainfall(mm)": "Prec_total",
}

In [21]:
df.rename(columns=novos_nomes_variaveis, inplace=False)

,N,Data,Intervalo,Temp_int,Humi_int,Temp_ext,Humi_ext,Pres_rel,Pres_abs,Vel_vento,Gust(km/h),Dir_vento,Orvalho,Sens_termica,Hr_chuva,Prec_24h,Prec_sema,Prec_mes,Prec_total
0,1,15/02/2022 13:17:00,5,"27,1",40,"34,3",35,"757,2","725,6","7,2","9,7",SSW,"16,7","34,3","0,0","0,0","0,0","0,0","0,0"
1,2,15/02/2022 13:22:00,5,"27,2",40,"34,1",33,"757,1","725,5","3,6","7,2",NNW,"15,6","34,1","0,0","0,0","0,0","0,0","0,0"
2,3,15/02/2022 13:27:00,5,"27,2",40,"34,1",33,"757,1","725,5","5,0","7,2",SSE,"15,6","34,1","0,0","0,0","0,0","0,0","0,0"
3,4,15/02/2022 13:32:00,5,"27,2",40,"34,2",35,"757,1","725,4","8,6","13,3",W,"16,6","34,2","0,0","0,0","0,0","0,0","0,0"
4,5,15/02/2022 13:37:00,5,"27,2",40,"34,0",35,"757,1","725,4","6,1","9,7",W,"16,4","34,0","0,0","0,0","0,0","0,0","0,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261051,261052,23/01/2023 07:45:24,5,"25,7",71,"60,0",1,"755,9","724,4","1,1","2,5",ENE,"-14,4","60,0","0,0","0,0","3,0","371,1","6066,6"
261052,261053,23/01/2023 07:50:24,5,"25,8",71,"60,0",1,"755,8","724,2","1,1","2,5",ENE,"-14,4","60,0","0,0","0,0","3,0","371,1","6066,6"
261053,261054,23/01/2023 07:55:24,5,"25,8",72,"60,0",1,"755,8","724,2","2,5","3,6",ENE,"-14,4","60,0","0,0","0,0","3,0","371,1","6066,6"
261054,261055,23/01/2023 08:00:24,5,"25,8",72,"60,0",1,"756,0","724,4","1,1","3,6",ENE,"-14,4","60,0","0,0","0,0","3,0","371,1","6066,6"
261055,261056,23/01/2023 08:05:24,5,"25,8",72,"60,0",1,"756,1","724,5","0,0","2,5",ENE,"-14,4","60,0","0,0","0,0","3,0","371,1","6066,6"

In [22]:
# Definindo variáveis x e y
X = df['Time'].values
Y = df['Outdoor Temperature(°C)'].values

In [ ]:
#Chamando a Função e mostrando o grafico 
plt.scatter(X,Y)
plt.show()

In [ ]:
plt.plot(X,Y)
plt.show()

In [ ]:
# Criando o Modelo de Regressão
estimativa = smf.ols(formula = 'tempmax_abs ~ tempmin_abs', data = df)

# Treinando o Modelo de Regressão
modelo = estimativa.fit()

# Imprimindo o resumo do modelo
print(modelo.summary())